<div class="byticket-container bgcolor-000 color-fff">
    <div class="container form-container">
        <div class="row">
            <div class="heading-title text-center padding-32">Vui lòng chọn ghế</div>
        </div>
        <div class="row bgcolor-111">
            <div class="col-2 row-name text-center">Hàng A</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[0]}}">A1</button>
                <button class="btn-select" value="{{show_seats.[1]}}">A2</button>
                <button class="btn-select" value="{{show_seats.[2]}}">A3</button>
                <button class="btn-select" value="{{show_seats.[3]}}">A4</button>
                <button class="btn-select" value="{{show_seats.[4]}}">A5</button>
                <button class="btn-select" value="{{show_seats.[5]}}">A6</button>
                <button class="btn-select" value="{{show_seats.[6]}}">A7</button>
                <button class="btn-select" value="{{show_seats.[7]}}">A8</button>
                <button class="btn-select" value="{{show_seats.[8]}}">A9</button>
                <button class="btn-select" value="{{show_seats.[9]}}">A10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng B</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[10]}}">B1</button>
                <button class="btn-select" value="{{show_seats.[11]}}">B2</button>
                <button class="btn-select" value="{{show_seats.[12]}}">B3</button>
                <button class="btn-select" value="{{show_seats.[13]}}">B4</button>
                <button class="btn-select" value="{{show_seats.[14]}}">B5</button>
                <button class="btn-select" value="{{show_seats.[15]}}">B6</button>
                <button class="btn-select" value="{{show_seats.[16]}}">B7</button>
                <button class="btn-select" value="{{show_seats.[17]}}">B8</button>
                <button class="btn-select" value="{{show_seats.[18]}}">B9</button>
                <button class="btn-select" value="{{show_seats.[19]}}">B10</button>
            </div>               
            <div class="col-2 row-name text-center">Hàng C</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[20]}}">C1</button>
                <button class="btn-select" value="{{show_seats.[21]}}">C2</button>
                <button class="btn-select" value="{{show_seats.[22]}}">C3</button>
                <button class="btn-select" value="{{show_seats.[23]}}">C4</button>
                <button class="btn-select" value="{{show_seats.[24]}}">C5</button>
                <button class="btn-select" value="{{show_seats.[25]}}">C6</button>
                <button class="btn-select" value="{{show_seats.[26]}}">C7</button>
                <button class="btn-select" value="{{show_seats.[27]}}">C8</button>
                <button class="btn-select" value="{{show_seats.[28]}}">C9</button>
                <button class="btn-select" value="{{show_seats.[29]}}">C10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng D</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[30]}}">D1</button>
                <button class="btn-select" value="{{show_seats.[31]}}">D2</button>
                <button class="btn-select" value="{{show_seats.[32]}}">D3</button>
                <button class="btn-select" value="{{show_seats.[33]}}">D4</button>
                <button class="btn-select" value="{{show_seats.[34]}}">D5</button>
                <button class="btn-select" value="{{show_seats.[35]}}">D6</button>
                <button class="btn-select" value="{{show_seats.[36]}}">D7</button>
                <button class="btn-select" value="{{show_seats.[37]}}">D8</button>
                <button class="btn-select" value="{{show_seats.[38]}}">D9</button>
                <button class="btn-select" value="{{show_seats.[39]}}">D10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng E</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[40]}}">E1</button>
                <button class="btn-select" value="{{show_seats.[41]}}">E2</button>
                <button class="btn-select" value="{{show_seats.[42]}}">E3</button>
                <button class="btn-select" value="{{show_seats.[43]}}">E4</button>
                <button class="btn-select" value="{{show_seats.[44]}}">E5</button>
                <button class="btn-select" value="{{show_seats.[45]}}">E6</button>
                <button class="btn-select" value="{{show_seats.[46]}}">E7</button>
                <button class="btn-select" value="{{show_seats.[47]}}">E8</button>
                <button class="btn-select" value="{{show_seats.[48]}}">E9</button>
                <button class="btn-select" value="{{show_seats.[49]}}">E10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng F</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[50]}}">F1</button>
                <button class="btn-select" value="{{show_seats.[51]}}">F2</button>
                <button class="btn-select" value="{{show_seats.[52]}}">F3</button>
                <button class="btn-select" value="{{show_seats.[53]}}">F4</button>
                <button class="btn-select" value="{{show_seats.[54]}}">F5</button>
                <button class="btn-select" value="{{show_seats.[55]}}">F6</button>
                <button class="btn-select" value="{{show_seats.[56]}}">F7</button>
                <button class="btn-select" value="{{show_seats.[57]}}">F8</button>
                <button class="btn-select" value="{{show_seats.[58]}}">F9</button>
                <button class="btn-select" value="{{show_seats.[59]}}">F10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng G</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[60]}}">G1</button>
                <button class="btn-select" value="{{show_seats.[61]}}">G2</button>
                <button class="btn-select" value="{{show_seats.[62]}}">G3</button>
                <button class="btn-select" value="{{show_seats.[63]}}">G4</button>
                <button class="btn-select" value="{{show_seats.[64]}}">G5</button>
                <button class="btn-select" value="{{show_seats.[65]}}">G6</button>
                <button class="btn-select" value="{{show_seats.[66]}}">G7</button>
                <button class="btn-select" value="{{show_seats.[67]}}">G8</button>
                <button class="btn-select" value="{{show_seats.[68]}}">G9</button>
                <button class="btn-select" value="{{show_seats.[69]}}">G10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng H</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[70]}}">H1</button>
                <button class="btn-select" value="{{show_seats.[71]}}">H2</button>
                <button class="btn-select" value="{{show_seats.[72]}}">H3</button>
                <button class="btn-select" value="{{show_seats.[73]}}">H4</button>
                <button class="btn-select" value="{{show_seats.[74]}}">H5</button>
                <button class="btn-select" value="{{show_seats.[75]}}">H6</button>
                <button class="btn-select" value="{{show_seats.[76]}}">H7</button>
                <button class="btn-select" value="{{show_seats.[77]}}">H8</button>
                <button class="btn-select" value="{{show_seats.[78]}}">H9</button>
                <button class="btn-select" value="{{show_seats.[79]}}">H10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng J</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[80]}}">J1</button>
                <button class="btn-select" value="{{show_seats.[81]}}">J2</button>
                <button class="btn-select" value="{{show_seats.[82]}}">J3</button>
                <button class="btn-select" value="{{show_seats.[83]}}">J4</button>
                <button class="btn-select" value="{{show_seats.[84]}}">J5</button>
                <button class="btn-select" value="{{show_seats.[85]}}">J6</button>
                <button class="btn-select" value="{{show_seats.[86]}}">J7</button>
                <button class="btn-select" value="{{show_seats.[87]}}">J8</button>
                <button class="btn-select" value="{{show_seats.[88]}}">J9</button>
                <button class="btn-select" value="{{show_seats.[89]}}">J10</button>
            </div>
            <div class="col-2 row-name text-center">Hàng K</div>
            <div class="col-10 col-name d-flex">
                <button class="btn-select" value="{{show_seats.[90]}}">K1</button>
                <button class="btn-select" value="{{show_seats.[91]}}">K2</button>
                <button class="btn-select" value="{{show_seats.[92]}}">K3</button>
                <button class="btn-select" value="{{show_seats.[93]}}">K4</button>
                <button class="btn-select" value="{{show_seats.[94]}}">K5</button>
                <button class="btn-select" value="{{show_seats.[95]}}">K6</button>
                <button class="btn-select" value="{{show_seats.[96]}}">K7</button>
                <button class="btn-select" value="{{show_seats.[97]}}">K8</button>
                <button class="btn-select" value="{{show_seats.[98]}}">K9</button>
                <button class="btn-select" value="{{show_seats.[99]}}">K10</button>
            </div>
            <div class="row">
                <form class="form-controller" method="post" action="">
                    <div class="text-center padding-32">
                        <input class="d-none" type="text" name="id">
                        <input class="d-none" type="text" name="data">
                        <button class="pd-8_16 bg-btn_a btn-submit-data" type="submit" style="width: 20%;">
                            <a class="style-btn_a">Đặt vé</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const selectOptions = document.querySelectorAll('.btn-select')
    const btnSubmit = document.querySelector('.btn-submit-data')
    var valueSelected = []

    selectOptions.forEach(function(item) {
        if (item.value == '0') {
            item.setAttribute('disabled', '')
            item.classList.add('btn-disabled-item')
        }
        item.onclick = function () {
            if (item.classList.contains('btn-selected-item')) {
                item.classList.remove('btn-selected-item')
                valueSelected.splice(valueSelected.indexOf(item.value), 1)
            } else {
                item.classList.add('btn-selected-item')
                valueSelected.push(item.value)
            }
        }
    })

    btnSubmit.onclick = function () {
        if (valueSelected.length == 0) {
            alert('Vui lòng chọn ít nhất một chỗ ngồi')
        } else {
            const form = document.querySelector('.form-controller')
            const inputId = document.querySelector('input[name="id"]')
            const inputData = document.querySelector('input[name="data"]')

            form.setAttribute('action', '/tickets/seats-handler') 
            inputId.setAttribute('value', '{{show_id}}')
            inputData.setAttribute('value', valueSelected)

        }
    }
</script>